---
import {getCollection, render} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Socials from '../../components/Socials.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: {id: post.data.id.toString()},
    props: {post},
  }));
}

const {post} = Astro.props;
const { data } = post;
const { id, fecha, titulo } = data;

const { Content } = await render(post);

---
<Layout>
  <Socials/>
  <article class="mx-auto mt-10 text-light-primario dark:text-dark-primario">
    <div class="flex items-center gap-4">
      <a href="/blog" class="flex items-center">
        <img src="/light-back.svg" alt="Volver atrás" class="min-w-6 w-10 block dark:hidden"/>
        <img src="/dark-back.svg" alt="Volver atrás" class="min-w-6 w-10 hidden dark:block"/>
      </a>
      <h1 class="text-3xl lg:text-4xl font-bold mb-2 text-light-primario dark:text-dark-primario flex items-center">
      {titulo}
      </h1>
    </div>
    <p class="text-light-secundario dark:text-dark-secundario text-sm mt-10 mb-1">{fecha}</p>
    <div class="prose dark:prose-invert w-full max-w-none">
      <Content />
    </div>
  </article>
</Layout>
