---
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
---

<Layout>
  <h1 class="text-4xl lg:text-6xl font-bold text-left pt-14 pb-3">Blog</h1>
  <p class="text-left text-lg lg:text-2xl">Actualmente no esta disponible el blog :(</p>

  <Socials />
</Layout>
