<div class="mt-5 px-2 lg:p-0">
  <p class="prose w-full text-[12px] lg:text-base max-w-none text-light-primario dark:text-dark-primario">Soy un desarrollador apasionado por la programación y la tecnología. Me considero autodidacta, organizado y responsable, con habilidades destacadas para trabajar en equipo, tomar decisiones rápidas y manejar la presión. Estoy comprometido con el desarrollo continuo de mi carrera, explorando nuevas tecnologías y diversas áreas de la programación para encontrar mi verdadera pasión y especializarme en ella. Aunque actualmente me enfoco en el desarrollo backend, estoy abierto a nuevas oportunidades que me permitan crecer y expandir mis conocimientos.</p>
</div>
