<div class="mt-5 px-2 lg:p-0">
Creo aplicaciones con el objetivo de facilitar el trabajo y la vida de las personas, soy un programador autodidacta, organizado y responsable, con habilidades destacadas para trabajar en equipo, tomar decisiones rápidas y manejar la presión. Estoy comprometido con el desarrollo continuo de mi carrera, explorando nuevas tecnologías y diversas áreas de la programación para encontrar mi verdadera pasión y especializarme en ella. Aunque actualmente me enfoco en el desarrollo backend, estoy abierto a nuevas oportunidades que me permitan crecer y expandir mis conocimientos.</p>
</div>
