<a
  href="/Juan Rodriguez CV.pdf"
  download="Juan Rodriguez CV.pdf"
  class="flex flex-row mx-auto w-fit mt-6 items-center justify-center gap-2 bg-light-primario dark:bg-dark-primario text-light-fondo dark:text-dark-fondo px-4 py-2 rounded-lg hover:scale-110 transform transition"
>
  <p>Descargar curriculum</p>
  <img class="w-8 block dark:hidden" src="/dark-download.svg" alt="Descargar CV">
  <img class="w-8 hidden dark:block" src="/light-download.svg" alt="Descargar CV">
</a>
