<div class="flex flex-col py-6 px-2 justify-between gap-5">
  <h2 class="text-2xl lg:text-4xl font-bold text-light-primario dark:text-dark-primario">Educación</h2>

  <div class="flex flex-col gap-3 justify-between">

    <div class="flex flex-row items-center gap-3">
      <img src="/logoSantoTomas.webp" alt="Logo Santo Tomás" class="w-14 h-14 rounded-full flex-shrink-0 object-cover">
      <div class="flex flex-col">
        <span>2026-2028</span>
        <h3><strong>Ingeniería en informática</strong></h3>
        <h4 class="text-sm">Instituto profesional Santo Tomás</h4>
      </div>
    </div>

    <div class="flex flex-row items-center gap-3">
      <img src="/logoSantoTomas.webp" alt="Logo Santo Tomás" class="w-14 h-14 rounded-full flex-shrink-0 object-cover">
      <div class="flex flex-col">
        <span>2022-2024</span>
        <h3><strong>Técnico Analista programador</strong></h3>
        <h4 class="text-sm">Centro de formación técnica Santo Tomás</h4>
      </div>
    </div>

  </div>
</div>
