<section class="fixed w-3/5 sm:w-fit lg:w-fit lg:h-fit bottom-2 left-1/2 -translate-x-1/2 lg:left-12 lg:top-1/2 lg:-translate-y-1/2 z-50 border-2 border-light-primario dark:border-dark-primario rounded-2xl lg:hover:scale-110 transform transition duration-300 overflow-hidden bg-light-fondo/90 dark:bg-dark-fondo/90">
  <div class="flex flex-row lg:flex-col items-center justify-center gap-4 px-3 py-4">
    <a href="/" class="hover:scale-125 transform transition" title="Inicio">
      <img class="w-8 block dark:hidden" src="/light-home.svg" alt="Inicio">
      <img class="w-8 hidden dark:block" src="/dark-home.svg" alt="Inicio">
    </a>
    <a href="https://www.linkedin.com/in/juan-rodriguez997/" target="_blank" rel="noopener noreferrer" class="hover:scale-125 transform transition" title="LinkedIn">
      <img class="w-8 block dark:hidden" src="/light-linkedin.webp" alt="LinkedIn">
      <img class="w-8 hidden dark:block" src="/dark-linkedin.webp" alt="LinkedIn">
    </a>
    <a href="https://github.com/Juan239" target="_blank" rel="noopener noreferrer" class="hover:scale-125 transform transition" title="GitHub">
      <img class="w-8 block dark:hidden" src="/light-github.svg" alt="GitHub">
      <img class="w-8 hidden dark:block" src="/dark-github.svg" alt="GitHub">
    </a>
    <a href="/blog" class="hover:scale-125 transform transition" title="Blog">
      <img class="w-8 block dark:hidden" src="/light-blog.svg" alt="Blog">
      <img class="w-8 hidden dark:block" src="/dark-blog.svg" alt="Blog">
    </a>
    <button
      class="hover:scale-125 transform transition"
      id="toggle-theme"
      aria-label="Cambiar modo claro/oscuro"
    >
      <img class="w-8 block dark:hidden" src="/moon-solid.svg" alt="Modo claro" title="Modo oscuro">
      <img class="w-8 hidden dark:block" src="/sun-solid.svg" alt="Modo oscuro" title="Modo claro">
    </button>

  </div>
</section>

<script is:inline>
  (function() {
    const root = document.documentElement;
    const theme = localStorage.getItem('theme');
    if (
      theme === 'dark' ||
      (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      root.classList.add('dark');
    } else {
      root.classList.remove('dark');
    }
  })();

  window.addEventListener('DOMContentLoaded', () => {
    const root = document.documentElement;
    const button = document.getElementById('toggle-theme');

    button?.addEventListener('click', () => {
      const isDark = root.classList.toggle('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    });
  });
</script>
