  <div class="flex flex-row justify-between items-center pt-4">
    <div class="flex flex-col px-2 light:text-light-primario dark:text-dark-primario">
      <h1 class="text-4xl lg:text-6xl font-bold text-left pb-2">Juan Rodríguez</h1>
      <h2 class="text-left text-lg lg:text-3xl text-light-secundario dark:text-dark-secundario">Desarrollador de software</h2> <!-- bg-red-500 sm:bg-blue-600 md:bg-green-700 lg:bg-purple-600 -->
    </div>
    <img class="rounded-full mr-2 aspect-square object-cover w-24 lg:w-40 border border-light-primario dark:border-dark-primario shadow-2xs hover:scale-110 transform transition" src="/fotoperfil.webp" alt="">
  </div>
